.DS_Store
node_modules/
.idea/
.vscode/
*.log
Thumbs.db

# Конфіденційні файли
/Users/valeriy_k./Downloads/Projects/Solar-for-business/Text data/dani.txt
../Text data/dani.txt
Text data/dani.txt
**/dani.txt
